{% extends "base.html" %}
{% block title %}About Me{% endblock %}
{% block content %}
    <!-- Title Section -->
    <div class="container">
        <div class="row align-items-center my-5 pt-5">
            <div class="col-sm-12 col-md-6 text-center">
                <img class="fluid rounded-circle " src="../static/pic.jpg" alt="image">
            </div>
            <div class="col-sm-12 col-md-6 text-center pt-4">
                <div class="font-weight-light text-dark" style="font-size: 40px;">
                    Hey, I'm <span class="text-info">Akash Bagchi</span>
                </div>
                <h6 class="font-weight-light text-dark">I'm a <span class="font-weight-normal">Singer-Songwriter</span> based in Bangalore, India</h6>
                <h6 class="font-weight-light text-dark">My new single Devices comes out 1/1/2022 </h6>
            </div>
        </div>
    </div>
{% endblock %}
