{% extends "base.html" %}
{% block title %}Feedback{% endblock %}
{% block jscript %}

{% endblock %}
{% block onload %} {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <form action="" method="POST">
                <h3 aligh="center">
                    Provide feedback on the website.
                </h3>
                <br>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input 
                        type="email" 
                        class="form-control" 
                        id="email" 
                        name="email" 
                        placeholder="Enter e-mail"
                    />
                </div>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="firstName" 
                        name="firstName" 
                        placeholder="Enter first name"
                    />
                </div>
                <div class="form-group">
                    <label for="feedbackText">Feedback</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="feedbackText" 
                        name="feedbackText" 
                        placeholder="Enter your feedback here"
                    />
                </div>
                <br>
                <button type="submit" onclick="getFeedback()" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <div class="row my-5 d-flex flex-nowrap overflow-auto" id="feedbackDisplay">
        
        <!-- <button v-on:click="getFeedback()">
            See Reviews
        </button> -->
    </div>
    
{% endblock %}
